@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans Mono", monospace;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c5d8fc;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 14px;
  border: 2px solid #c5d8fc;
}
